:root {
    --blue: #5e50f9;
    --indigo: #6610f2;
    --purple: #6a008a;
    --pink: #e91e63;
    --red: #f96868;
    --orange: #f2a654;
    --yellow: #f6e84e;
    --green: #46c35f;
    --teal: #58d8a3;
    --cyan: #57c7d4;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #0f1531;
    --blue: #5e50f9;
    --indigo: #6610f2;
    --purple: #6a008a;
    --pink: #e91e63;
    --red: #f96868;
    --orange: #f2a654;
    --yellow: #f6e84e;
    --green: #46c35f;
    --teal: #58d8a3;
    --cyan: #57c7d4;
    --white: #fff;
    --gray: #434a54;
    --gray-light: #aab2bd;
    --gray-lighter: #e8eff4;
    --gray-lightest: #e6e9ed;
    --black: #000;
    --primary: #0a62fb;
    --secondary: #3a3a3a;
    --success: #3e8177;
    --info: #4d7cff;
    --warning: #f5a623;
    --danger: #fc5661;
    --light: #f8f9fa;
    --dark: #000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}

*, ::before, ::after {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;
    background-color: #fff;
    background-repeat: no-repeat;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

small {
    font-size: 80%
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

img {
    vertical-align: middle;
    border-style: none
}

button {
    border-radius: 0
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[role="button"] {
    cursor: pointer
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button
}

    button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
        cursor: pointer
    }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

h1, .h1 {
    font-size: 2.5rem
}

h4, .h4 {
    font-size: 1.5rem
}

h5, .h5 {
    font-size: 1.25rem
}

h6, .h6 {
    font-size: 1rem
}

small, .small {
    font-size: 80%;
    font-weight: 400
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.row-cols-1 > * {
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width: 576px) {
    .row-cols-sm-2 > * {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        color: #000;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 10px 24px;
        font-size: .75rem;
        line-height: 1;
        border-radius: 0;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }

        .btn:not(:disabled):not(.disabled) {
            cursor: pointer
        }

    .btn-outline-info {
        color: #4d7cff;
        border-color: #4d7cff
    }

    .btn-outline-warning {
        color: #f5a623;
        border-color: #f5a623
    }

    .btn-outline-danger {
        color: #fc5661;
        border-color: #fc5661
    }

    .btn-outline-dark {
        color: #000;
        border-color: #000
    }

    .btn-sm, .btn-group-sm > .btn {
        padding: 10px 24px;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: 0
    }

    .btn-block {
        display: block;
        width: 100%
    }

    .collapse:not(.show) {
        display: none
    }

    .dropup, .dropright, .dropdown, .dropleft {
        position: relative
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none
    }

    .nav-link {
        display: block;
        padding: .5rem 1rem
    }

    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 32px 38px
    }

    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 38px;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center
    }

    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem
    }

    .navbar-light .navbar-brand {
        color: rgba(0,0,0,0.9)
    }

    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,0.5);
        border-color: rgba(0,0,0,0.1)
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280,0,0,0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #e7eaed;
        border-radius: 0
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem
    }

    .card-title {
        margin-bottom: .75rem
    }

    .badge {
        display: inline-block;
        padding: .25em .4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }

    .bg-success {
        background-color: #3e8177 !important
    }

    .bg-danger {
        background-color: #fc5661 !important
    }

    .border-top {
        border-top: 1px solid #dbdbdb !important
    }

    .rounded {
        border-radius: .25rem !important
    }

    .d-flex {
        display: flex !important
    }

    .flex-column {
        flex-direction: column !important
    }

    .justify-content-center {
        justify-content: center !important
    }

    .align-items-center {
        align-items: center !important
    }

    .position-relative {
        position: relative !important
    }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075) !important
    }

    .mb-0, .my-0 {
        margin-bottom: 0 !important
    }

    .mb-2, .my-2 {
        margin-bottom: .5rem !important
    }

    .mt-3, .my-3 {
        margin-top: 1rem !important
    }

    .mr-3, .mx-3 {
        margin-right: 1rem !important
    }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important
    }

    .mt-5, .my-5 {
        margin-top: 3rem !important
    }

    .mb-5, .my-5 {
        margin-bottom: 3rem !important
    }

    .p-0 {
        padding: 0 !important
    }

    .p-3 {
        padding: 1rem !important
    }

    .pt-5, .py-5 {
        padding-top: 3rem !important
    }

    .pb-5, .py-5 {
        padding-bottom: 3rem !important
    }

    .text-center {
        text-align: center !important
    }

    .text-decoration-none {
        text-decoration: none !important
    }

    .card {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        background: none;
        border: none
    }

        .card .card-body {
            padding: 1.88rem 1.81rem
        }

    body {
        font-size: 1rem;
        font-family: "Montserrat",sans-serif;
        font-weight: initial;
        line-height: normal;
        -webkit-font-smoothing: antialiased
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-weight: 500;
        line-height: 1.3
    }

    p {
        font-size: 1rem;
        margin-bottom: .5rem;
        line-height: 1.8
    }

    h1, .h1 {
        font-size: 32px
    }

    h4, .h4 {
        font-size: 18px
    }

    h5, .h5 {
        font-size: 16px
    }

    h6, .h6 {
        font-size: 12px
    }

    .btn {
        font-size: 12px;
        line-height: 1;
        font-weight: 400;
        border-radius: 0
    }

        .btn.btn-sm, .btn-group-sm > .btn {
            font-size: .875rem;
            padding: 10px 24px;
            line-height: 0
        }

    .btn-outline-info {
        color: #4d7cff;
        border-color: #4d7cff
    }

    .btn-outline-warning {
        color: #f5a623;
        border-color: #f5a623
    }

    .btn-outline-danger {
        color: #fc5661;
        border-color: #fc5661
    }

    .btn-outline-dark {
        color: #000;
        border-color: #000
    }

    .navbar {
        font-weight: 500;
        padding: 0;
        display: block
    }

        .navbar .navbar-brand {
            margin-right: 0
        }
}

@media (max-width: 999px) {
    .navbar .navbar-brand img {
        width: 170px
    }
}

.navbar-top {
    padding: 32px 0;
    border-bottom: 1px solid #dbdbdb
}

.navbar-bottom-menu {
    border-bottom: 1px solid #dbdbdb
}

@media (max-width: 999px) {
    .navbar-bottom-menu .navbar-toggler {
        position: absolute;
        top: 30px;
        right: 0;
        color: #0a62fb;
        width: 50px
    }
}

@media (max-width: 999px) {
    .collapse {
        background: #fff;
        z-index: 99
    }

    .navbar-collapse {
        position: fixed;
        right: -100%;
        top: 0;
        height: 100%;
        text-align: center;
        padding: 20px 10px;
        transition: all .7s ease-in-out;
        z-index: 101;
        width: 290px;
        overflow: auto
    }
}

@media (max-width: 999px) and (max-width: 768px) {
    .navbar-collapse {
        width: 290px
    }
}

@media (max-width: 999px) {
    .collapse:not(.show) {
        display: block
    }

    .show {
        right: 0
    }
}

.banner-top-thumb-wrap {
    padding: 22px 0;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 50px
}

.world-news, .popular-news {
    padding: 37px 0
}

.image-hover {
    overflow: hidden
}

footer {
    padding: 80px 0 35px
}

.example {
    padding: 30px 35px;
    border: 1px solid #6d6d6d;
    width: fit-content;
    border-radius: 12px;
    box-shadow: rgba(100,100,111,0.2) 0 7px 29px 0
}

.redirectOther {
    padding: 10px
}

.image {
    flex: 1;
    padding: 5px;
    text-align: center
}

.accordion-container {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column
}

.image img {
    max-height: 95%;
    max-width: 95%;
    height: auto
}

